h2{
    color: rgb(208, 207, 207);
    background-color: rgb(38, 78, 78);
    padding:10px 250px;

}

.amo{
    color: rgb(245, 124, 124);
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
#display-area{
    background-color: rgb(245, 224, 224);
    border: 2px solid rgb(29, 44, 56);
    margin:20px;
    transition:0.3s;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}
#display-area:hover{
    transform:translateY(-4px);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);

}
#tot{
    background-color: rgb(133, 148, 162);
    display: flex;
    justify-content: right;
    padding-right: 10px;
}
#search-label{
    margin:10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(29, 44, 56);
}
#search{
    margin:10px;
    background-color: azure;
    color:  rgb(110, 100, 100);
    border-radius: 5px;
}
