h2{
    color: rgb(208, 207, 207);
    background-color: rgb(38, 78, 78);
    padding:10px 250px;

}
.amo{
    color: rgb(245, 124, 124);
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
#display-area{
    background-color: rgb(245, 224, 224);
    border: 2px solid rgb(29, 44, 56);
    margin:20px;
    
}
#tot{
    background-color: rgb(133, 148, 162);
    display: flex;
    justify-content: right;
    padding-right: 10px;
}